.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-color-text: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --accent-text-color: #2196f3;
  --accent-bg-color: #188ce8;
  --border-color: #ececec;
  --border-color-second: #eeeeee;
  --color-black: #000000;
  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.current {
  display: flex;
  position: relative;
  color: var(--accent-text-color);
}
.current::after {
  position: absolute;
  content: '';

  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-bg-color);
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.hero-container,
.team-container {
  width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.card-item {
  margin-top: 30px;
  margin-left: 30px;
}

/* Header */
.header {
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  background-color: var(--primary-bg-color);
}
.header-container {
  display: flex;
  align-items: center;
}
/* Logo */
.header .logo {
  margin-right: 93px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
}
.logo-black {
  color: var(--color-black);
}
.logo-white {
  color: var(--third-color-text);
}
.header-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav {
  color: var(--secondary-text-color);
}
.nav .list {
  display: flex;
  align-items: center;
}
.header .auth.list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.auth-item + .auth-item {
  margin-left: 50px;
}
.auth-item .icon.mail {
  width: 16px;
  height: 12px;
}
.auth-item .icon.phone {
  width: 10px;
  height: 16px;
}
.auth-item .icon {
  margin-right: 10px;
}
/* Main */

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img.jpg);
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;

  color: var(--third-color-text);
}

.hero-button {
  font-family: 'Roboto';
  font-style: normal;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  background-color: var(--accent-text-color);
  color: var(--third-color-text);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-bg-color);
}
/* About */
.section.about {
  padding-bottom: 0;
}
.about-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--third-bg-color);
}
.about .icon {
  width: 70px;
  height: 70px;
}
.about-item {
  flex-basis: calc(100% / 4 - 30px);
}
.about .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: var(--secondary-text-color);
}

/* Work */

.work .list {
  display: flex;
}
.work .work-item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
}
.work-variant {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.variant-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--third-color-text);
}
/* Team */
.section.team {
  background-color: var(--third-bg-color);

  text-align: center;
}
.team .position {
  margin-bottom: 16px;
}
.team .position,
.team .title {
  font-size: 16px;
  line-height: 1.18;
}

.team .title {
  margin-bottom: 10px;
  font-weight: 500;

  color: var(--secondary-text-color);
}
.team .team-item {
  background: var(--primary-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .team-item {
  flex-basis: calc(100% / 4 - 30px);
}
.team-wrapper {
  padding: 30px;
}
.list.social-list {
  display: flex;
  align-items: center;
}
.items-icon:not(:last-child) {
  margin-right: 10px;
}
.icon-social {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--icon-color);
  background-color: var(--icon-bg-color);

  transition: fill 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.team .icon {
  width: 20px;
  height: 20px;
}
.icon-social:hover,
.icon-social:focus {
  background-color: var(--accent-text-color);
  fill: var(--third-color-text);
}

/* Clinets */

.clients .list {
  justify-content: center;
}
.clients-item {
  flex-basis: calc(100% / 6 - 30px);
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 92px;

  border: 1px solid var(--icon-color);

  border-radius: 4px;
  fill: var(--icon-color);

  transition: border-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    fill 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.clients-item .icon {
  width: 106px;
  height: 60px;
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-item:not(:last-child) {
  margin-right: 70px;
}
.address {
  font-style: inherit;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .logo {
  display: block;
  align-items: center;
  margin-bottom: 20px;
}
.footer .link[target='_blank'] {
  color: var(--third-color-text);
}
.footer .info {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.footer .info:hover,
.footer .info:focus {
  color: var(--accent-text-color);
}
.footer .link.map:hover,
.footer .link.map:focus {
  color: var(--accent-text-color);
}
.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--third-color-text);
}
.footer .icon-social {
  fill: var(--third-color-text);
}
.footer .icon {
  width: 20px;
  height: 20px;
}
.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

/* submit */
.subscribe {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.label-submit {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--third-color-text);
}
.input-submit {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-bg-color);
}

.buttton-submit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--third-color-text);
  background: var(--accent-text-color);
}
.icon-submit {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* Portfolio */

.container.filter {
  margin-bottom: 56px;
}
.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-items {
  display: block;
  align-items: center;
}
.filter-items:not(last-child) {
  margin-right: 8px;
}

.filter-button {
  font-family: 'Roboto';
  font-style: normal;
  border: none;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  color: var(--secondary-text-color);
  background-color: var(--third-bg-color);

  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    box-shadow 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.filter-button:hover,
.filter-button:focus,
.active-filter {
  background-color: var(--accent-text-color);
  color: var(--third-color-text);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list.catalog {
  display: flex;
  flex-wrap: wrap;
}
.about-variant {
  padding: 20px 24px;

  border-bottom: 1px solid var(--border-color-second);
  border-left: 1px solid var(--border-color-second);
  border-right: 1px solid var(--border-color-second);
}
.catalog .title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}
.catalog .position {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.catalog-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.catalog-link:hover,
.catalog-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.catalog-img {
  position: relative;
  overflow: hidden;
}
.description-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  transform: translateY(100%);
  color: var(--third-color-text);
  background-color: rgba(33, 150, 243, 0.9);
  pointer-events: none;
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    opacity 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.catalog-link:hover .description-text,
.catalog-link:focus .description-text {
  opacity: 1;
  transform: translateY(0);
}

/* Modal */

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-bg-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal .button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;

  height: 30px;
  width: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal .button:hover .exit,
.modal .button:focus .exit {
  fill: var(--accent-text-color);
}
.exit {
  height: 11px;
  width: 11px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-modal {
  text-align: center;
  padding-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
.form-modal {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}
.modal-item:not(:last-child) {
  margin-bottom: 28px;
}
.form {
  width: 100%;
}
.form input[placeholder] {
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form input,
.form textarea {
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-item textarea {
  resize: none;
  height: 120px;
}
.modal ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal textarea[placeholder] {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.label-name {
  position: absolute;
  top: -16px;
  left: 0;
  
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-input {
  position: relative;
  height: 100%;
}
.modal-item:hover,
input:hover,
textarea:hover {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
  color: var(--accent-text-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  height: 18px;
  width: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  line-height: 1.71px;

  color: var(--primary-text-color);
}
.confirmation-name {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.confirmation input[type='checkbox'] {
  width: 16px;
  height: 15px;
  margin-right: 7px;
}
.confirmation a {
  color: var(--accent-text-color);
}
.modal-submit-button {
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--third-color-text);
  background: var(--accent-text-color);
}
.confirmation label {
  display: flex;
  align-items: center;
}
.confirmation a {
  margin-left: 2px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid;
  border-color: var(--secondary-text-color);
  border-radius: 4px;
  margin-right: 9px;
}
.checkbox:checked ~ .checkbox-icon {
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.modal .modal-input:focus{
  fill: var(--accent-text-color)
}