:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-color-text: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --accent-text-color: #2196f3;
}
body {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Roboto', sans-serif;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 1600px;

  color: var(--primary-text-color);
}
.container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav .link.current {
  color: var(--accent-text-color);
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  display: block;

  bottom: -13px;
  height: 4px;
  width: 100%;
  border-radius: 2px;

  background-color: var(--accent-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.link {
  text-decoration: none;
  color: #afb1b8;
}
.link:hover,
.link:focus {
  color: var(--accent-text-color);
}
.list {
  list-style: none;
}
.blue {
  color: var(--accent-text-color);
}
.section {
  text-align: center;
}
.button {
  border: 0;
  border-radius: 4px;
}
.button.primary {
  align-items: center;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;

  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-text-color);
  color: var(--primary-bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--primary-bg-color);
  color: var(--accent-text-color);
}
.button.secondary {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  cursor: pointer;

  background-color: var(--third-bg-color);
  color: var(--secondary-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover,
.button.secondary:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  background-color: var(--accent-text-color);
  color: var(--third-color-text);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  color: #212121;
}

/* Header */
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.header .container {
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  background-color: var(--primary-bg-color);
}
.header .list {
  display: flex;
}
.header .items {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header .items + .items {
  margin-left: 50px;
}
.list.auth {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  margin-left: auto;
}
.auth .item + .item {
  margin-left: 50px;
}
.auth .item {
  --color9: currentcolor;
}
.auth .link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth .link:hover,
.auth .link:focus {
  color: var(--accent-text-color);
}
.thumb {
  display: flex;
  text-align: center;
  justify-content: center;

  margin-right: 10px;
}
.icon-mail {
  width: 16px;
  height: 12px;
}
.icon-phone {
  width: 12px;
  height: 16px;
}

.logo {
  font-family: 'Raleway' sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 94px;
}
.header .link {
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--primary-text-color);
}
.header .link.logo {
  color: var(--secondary-text-color);
}

/* Nav */

.nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .link:hover,
.nav .link:focus {
  color: var(--accent-text-color);
}

/* Main */

/* Hero */
.hero {
  height: 600px;
  color: var(--third-color-text);

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img.jpg);
  background-position: center;
  background-size: cover;
  background-color: var(--secondary-bg-color);
}
.hero .container {
  width: 696px;
  padding-top: 200px;
  display: inline-block;
}
.hero h1 {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
/* About */
.about .container,
.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about .list {
  display: flex;
  justify-content: center;
}
.about .items {
  width: calc(100% - 90px) / 4;
  margin-right: 30px;
  text-align: start;
}
.about .items:nth-last-child(1) {
  margin-right: 0px;
}
.about .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-bottom: 10px;

  color: var(--secondary-text-color);
}

.about .thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: var(--third-bg-color);
}
.icon {
  height: 70px;
  width: 70px;
}
/* Works */
.works .container {
  padding-bottom: 94px;
}
.works .list {
  display: flex;
}
.works .items {
  width: calc(100% - 60px) / 3;
  margin-right: 30px;
}
.works .items:nth-last-child(1) {
  margin-right: 0px;
}

.works .thumb {
  position: relative;
}
.works .description {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  content: '';
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.description .item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--third-color-text);
}
/* Team */
.section.team {
  background-color: var(--third-bg-color);
}
.team .list {
  display: flex;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-top: 30px;
  margin-bottom: 10px;

  color: #212121;
}
.team .items {
  width: calc(100% - 90px) / 4;
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .items:nth-last-child(1) {
  margin-right: 0px;
}
.team .position {
  font-size: 16px;
  line-height: 1.18;
}
.team .thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  width: 44px;
  margin: 0;

  --color2: currentColor;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team .icon {
  height: 20px;
  width: 20px;
  padding: 0;
}

.team .item:not(:nth-last-child(1)) {
  margin-right: 10px;
}
.list.profile {
  margin-top: 16px;
  margin-left: 32px;
  margin-bottom: 30px;
}
.team .thumb:hover,
.team .thumb:focus {
  background-color: var(--accent-text-color);
  color: var(--third-color-text);
}

/* Clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients .list {
  display: flex;
  justify-content: center;
}
.clients .items {
  display: block;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  color: #afb1b8;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .items:not(:nth-last-child(1)) {
  margin-right: 30px;
}
.clients .icon {
  width: 106px;
  height: 60px;
}
.clients .link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  --color7: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .items:hover,
.clients .items:focus {
  border: 1px solid var(--accent-text-color);
  color: var(--accent-text-color);
}
/* Footer */
.footer {
  display: flex;

  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}
.footer .container.info {
  margin-left: 215px;
  width: 231px;
}
.footer .container.links {
  margin-left: 70px;
}
.container.links .list {
  display: flex;

  margin-top: 20px;
}
.container.links .items + .items {
  margin-left: 10px;
}
.container.links .thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 44px;
  margin: 0;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container.links .icon {
  height: 20px;
  width: 20px;

  --color2: currentColor;
  color: var(--third-color-text);
}
.links .thumb:hover,
.links .thumb:focus {
  background-color: var(--accent-text-color);
  color: var(--third-color-text);
}

.footer .link.info {
  font-style: normal;
}
/* Logo */
.footer .logo {
  font-family: 'Raleway' sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--third-color-text);
}

.address {
  margin-top: 20px;
  width: 231px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third-color-text);
}
.address p {
  margin-bottom: 9px;
  padding: 0;
}

.items-footer + .items-footer {
  margin-top: 9px;
}
.footer .info {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .info:hover,
.footer .info:focus {
  color: var(--accent-text-color);
}

/* Portfolio */
.section .list.button {
  display: flex;
  justify-content: center;

  padding-bottom: 50px;
  padding-top: 94px;
}
.list.button .items:not(:nth-last-child(1)) {
  margin-right: 8px;
}
.catalog .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.catalog .position {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.list.catalog {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 94px;
}
.list.catalog .items:hover,
.list.catalog .items:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.link-items {
  text-decoration: none;
  color: var(--primary-text-color);
}
.catalog .items {
  box-sizing: border-box;
  width: calc(100% - 60px) / 3;
  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;
}
.catalog .items:nth-last-child(3n + 1) {
  margin-right: 0px;
}
.catalog .items:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.border {
  border: 1px solid #eeeeee;
}

.option {
  position: relative;
  overflow: hidden;
}
.option1 {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--third-color-text);

  bottom: -100%;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
}
.list.catalog .items:hover .option1 {
  transform: translateY(-100%);
}

/* Modal */

.backdrop {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-bg-color);
}
.modal .button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;

  height: 30px;
  width: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal .button:hover .exit {
  fill: var(--accent-text-color);
}
.exit {
  height: 11px;
  width: 11px;
  fill: var(--secondary-text-color);
}
